@media screen and (min-width: 768px){
  .br-sp {display: none; }
  }

th{
    font-size: large;
    max-height: 1.5em; /* フォントサイズが1emの場合 */
    width:auto;
}

table {
    margin: 0 auto;
    width: 100%;
}

td:first-child {
    width: 30%;
  }
  
  td:last-child {
    width: 70%;
  }

h1,h2{text-align: center}

img {
    max-width: 200px; /* 画像の幅を200ピクセルに設定 */
    height: auto; /* 高さは自動調整 */
  }

  