th{
    font-size: large;
    height: 1.5em; /* フォントサイズが1emの場合 */
}

table {
    margin: 0 auto;
    width: 100%;
}

.left{width:70%;}
.right{width:30%;}

td:first-child {
    width: 30%;
  }
  
  td:last-child {
    width: 70%;
  }

h1,h2{text-align: center}

img {
    width: 200px; /* 画像の幅を200ピクセルに設定 */
    height: auto; /* 高さは自動調整 */
  }