.wrap {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1279px){
  .box {
    width: 48%;
    margin: 10px;
  }
}

@media screen and (min-width: 1280px){
  .box {
    width: 31%;
    margin: 10px;
  }
}

.box{ background-color: #399;}


.img ,.text{ margin: 10px;}
.img {
  text-align: center;
}

img ,video {
  border: 1px solid white;
  max-height: 480px;
  max-width:98%;
}

.margin{margin:10px; background-color: #9f9;}

.pre {white-space: pre-line; font-size:0.8em;}
.title{font-weight:bold; background-Color:lightblue; color:black; color:#333; font-size: 1.5em;/*-webkit-text-stroke-color: blue; -webkit-text-stroke-width: thick;*/}
.text{  background-color: lightblue;}
body {background-color: #eff}
