
@media screen and (max-width:1080px) {
    /*画面幅が1080px以下の時*/

    body {
        background-color: #ccc;
    }

    
    ul {
        list-style-type: none; /*箇条書きのポッチを消す*/
        text-align: center /*左右中央寄せは親要素に対して指定*/
    }

    .hello img {
        display: inline;
        
    }

    .hello {
        text-align: center;
        vertical-align: middle;
        display: inline-block;
    }

    .inline {
        text-align: center;
        display: inline-block;
        vertical-align: middle;
    }

    .index {
        background-color: #FFF;
    }

    .indent {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .bottomindent {
        padding-bottom: 0.5em;
    }

    .textindent {
        text-indent: -0.5em;
    }

    .imgindent {
       
    }

    .public {
        background-color: #CCFFFF;
    }

    .app {
        background-color: #9999CC;
    }

    .img {
        
    }

    .center{
        text-align:center;
    }

    .margin {
        margin: 0;
    }

 .pad{
 margin-left :10px;
margin-right:10px
}

}



@media screen and (min-width:1081px) {
    /*画面幅が1081px以上の時*/

    body {
        background-color: #ccc;
    }

    nav ul {
        list-style-type: none; /*箇条書きのポッチを消す*/
        text-align: center /*左右中央寄せは親要素に対して指定*/
    }

    .hello img {
        vertical-align: middle;
    }

     .hello {
        text-align: center;
        padding: 0;
        display: inline;
        vertical-align: middle;
    }

    .index {
        background-color: #FFF;
    }

    .indent {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .bottomindent {
        padding-bottom: 0.5em;
    }

    .textindent {
        text-indent: -0.5em;
    }

    .imgindent {
    }

    .public {
        background-color: #CCFFFF;
    }

    .app {
        background-color: #9999CC;
    }

    .img {
        max-width: 50vw;
    }

    .center {
        text-align: center;
    }

    .margin{
        margin: 0;
    }

 .pad{
margin-left :10px;
margin-right:10px
}
}
