
@media screen and (max-width:1080px) {
    /*‰æ–Ê•‚ª1080pxˆÈ‰º‚Ì*/

    body {
        background-color: #ccc;
    }

    .hello img {
        vertical-align: middle;
    }

    .hello {
        text-align: center;
        display: inline;
        vertical-align: middle;
    }

    .index {
        background-color: #FFF;
    }

    .indent {
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-bottom: 0.5em;
        text-indent: -0.5em;
    }

    .imgindent {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .public {
        background-color: #CCFFFF;
    }

    .app {
        background-color: #9999CC;
    }

    .img {
        width: 90vw;
    }
}



@media screen and (min-width:1081px) {
    /*‰æ–Ê•‚ª1081pxˆÈã‚Ì*/

    body {
        background-color: #ccc;
    }

    .hello img {
        vertical-align: middle;
    }

    .hello {
        text-align: center;
        display: inline;
        vertical-align: middle;
    }

    .index {
        background-color: #FFF;
    }

    .indent {
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-bottom: 0.5em;
        text-indent: -0.5em;
    }

    .imgindent {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .public {
        background-color: #CCFFFF;
    }

    .app {
        background-color: #9999CC;
    }

    .img {
        width: 50vw;
    }
}
